:root {
  --d-blue: #0067a3;
  --bg-blue: #0079bf;
  --text-grey: #5e6c85;
  --card-bg-grey: #dedfe3;
  --selection-grey: #dedede;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-blue);

}